@{
    ViewBag.Title = "Index";
}

@if (User.Identity.IsAuthenticated)
{
    <h2>Manage Application Roles</h2>

    //Form to Assign a New Role
    using (Html.BeginForm("AssignRole", "Roles", FormMethod.Post, new { id = "assign-form" }))
    {
        <input id="hidden-input" type="hidden" name="id" />
        <div style="height:250px">
            <div style="float:left">
                <p style="float:left">Search for Users/Groups:</p>
                <div style="float:left;position:relative;left:10px">
                    <input id="search" type="text" name="input">
                    <div class="aadpicker-search-results"></div> @*OPTIONAL!!!*@
                </div>
            </div>

            <div style="width:20px;height:1px;float:left"></div>

            <div>
                <p style="float:left">Select Role:</p>
                <div style="position:relative;left:10px">
                    <select name="role">
                        @foreach (String str in (List<String>)ViewData["roles"])
                        {
                            <option value="@str"> @str</option>
                        }
                    </select>
                    <br />
                    <input type="submit" id="submit-button" value="Assign Role" />
                </div>
            </div>
        </div>

        <script>
            // People/Group Picker Code
            var maxResultsPerPage = 14;
            var searchUrl = window.location.protocol + "//" + window.location.host + "/Roles/Search";
            var input = document.getElementById("search");
            var token = "@ViewData["token"]";
            var tenant = "@ViewData["tenant"]";

            var picker = AadPicker(searchUrl, maxResultsPerPage, input, token, tenant);

            // Submit the selected user/group to be asssigned.
            $("#submit-button").click({ picker: picker }, function () {
                if (!picker.selected)
                    return;
                var form = $("#assign-form").get()[0].elements["id"].value = picker.selected.objectId;
            });

        </script>
    }

    <p>*Note that Azure AD Application Owners will have Admin Access, but will not appear below
    unless explicitly assigned.  You can manage Application Owners in the 
    <a href="https://manage.windowsazure.com">Azure Management Portal</a>.</p>

    //List out users in each role with checkboxes for removing roles
    using (Html.BeginForm("RemoveRole", "Roles", FormMethod.Post))
    {
        //foreach app role
        foreach (string str in (List<String>)ViewData["roles"])
        {            
            <h3>@str</h3>

            <table class="table table-bordered table-striped">
                <tr>
                    <th>Name</th>
                    <th>ObjectID</th>
                    <th>Delete</th>

                </tr>

                @*for each mapping entry in that role*@
                @foreach (WebAppGroupClaimsDotNet.Models.RoleMapping mapping in (List<WebAppGroupClaimsDotNet.Models.RoleMapping>)ViewData["mappings"])
                {
                    if (mapping.Role == str)
                    { 
                        <tr>
                            <td>
                                @if ((((Dictionary<string, string>)ViewData["nameDict"])[@mapping.ObjectId]) == null)
                                {
                                    <span style="color: red;">Object No Longer Exists in AAD</span>
                                }
                                else
                                {
                                    @(((Dictionary<string, string>)ViewData["nameDict"])[@mapping.ObjectId])
                                }
                            </td>
                            <td>
                                @mapping.ObjectId
                            </td>
                            <td>
                                <input type="checkbox" name="@mapping.RoleMappingID" value="delete" />
                            </td>
                        </tr>
                    }
                }
            </table>
            
        }

        <input type="submit" value="Remove Roles" />
    }

}
