@{
    ViewBag.Title = "Tasks";
}

<h2>Tasks</h2>

<p>
    This page uses Group Claims to determine which tasks have been shared with the user.  
    Tasks that the user created can be shared with other users and groups.  
    Tasks that have been shared with the user display the owner's name.
</p>

@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("TaskSubmit", "Tasks", FormMethod.Post, new { id = "share-form" }))
    {
        <button name="delete" value="" style="display:none"></button>

            <div class="container" style="padding-top:10px">
                <div class="row">
                    <div class="col-md-4"><h4>Task</h4></div>
                    <div class="col-md-3"><h4>Status</h4></div>
                    <div class="col-md-3"><h4>Share</h4></div>
                    <div class="col-md-2"><h4></h4></div>
                </div>


                @foreach (WebAppGroupClaimsDotNet.Models.Task task in (List<WebAppGroupClaimsDotNet.Models.Task>)ViewData["tasks"])
                {
                    <div class="row task">
                        <div class="col-md-4">
                            <div class="task-text">
                                @task.TaskText
                            </div>
                        </div>
                        <div class="col-md-3">
                            <select name="task-id:@task.TaskID" class="task-status">
                                @foreach (string status in WebAppGroupClaimsDotNet.Utils.Globals.Statuses)
                            {
                                if (status == task.Status)
                                {
                                    <option value="@status" selected class="task-status">@status</option>
                                }
                                else
                                {
                                    <option value="@status" class="task-status">@status</option>
                                }
                            }
                            </select>
                        </div>
                        <div class="col-md-3">
                            @if (task.Creator == (string)ViewData["userId"])
                        {
                                <div class="task-owner">
                                    <a href="/Tasks/Share/@task.TaskID" class="share-link">
                                        @(task.SharedWith.Count - 1) Share(s)
                                    </a>
                                </div>
                        }
                        else
                        {
                                <div class="task-owner">Owner: @task.CreatorName</div>
                        }
                        </div>
                        <div class="col-md-2">
                            <div>
                                @if (task.Creator == (string)ViewData["userId"])
                            {
                                    <button name="delete" value="@task.TaskID" class="remove-button"><a class="share-link">Delete</a></button>
                            }
                            </div>
                        </div>
                    </div>
            }

                <div class="row task-actions">
                    <div class="col-md-4 add-task">
                        <div class="add-task-input">
                            <input type="text" name="newTask" class="add-task-input-box">
                        </div>
                        <button name="addTask" value="Add Task">Add Task</button>
                    </div>
                    <div class="col-md-3 update-tasks">
                        <button name="updateTasks" value="Update Tasks">Update Tasks</button>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-2"></div>
                </div>
            </div>
            }
            }

