@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<h3>Your Current Groups:</h3>
@if ((bool)ViewData["overageOccurred"])
{ 
    <h4 style="color:blue">Group Membership Acquired via GraphAPI Calls. </h4>
}
else
{
    <h4 style="color:blue">Group Membership Acquired via Group Claims. </h4>
}
<table class="table table-bordered table-striped">
    <tr>
        <th>Name</th>
        <th>ObjectID</th>
    </tr>
    
    @foreach (Microsoft.Azure.ActiveDirectory.GraphClient.Group group in (List<Microsoft.Azure.ActiveDirectory.GraphClient.Group>)ViewData["myGroups"])
    {
        <tr>
            <td>@group.DisplayName</td>
            <td>@group.ObjectId</td>
        </tr>
    }
    
</table>

<h3>Your Current Directory Roles:</h3>
<table class="table table-bordered table-striped">
    <tr>
        <th>Name</th>
        <th>ObjectID</th>
    </tr>

    @foreach (Microsoft.Azure.ActiveDirectory.GraphClient.DirectoryRole role in (List<Microsoft.Azure.ActiveDirectory.GraphClient.DirectoryRole>)ViewData["myDirectoryRoles"])
    {
        <tr>
            <td>@role.DisplayName</td>
            <td>@role.ObjectId</td>
        </tr>
    }
</table>
